.gayMessage{
    background-color: rgb(182, 162, 253);
    color: #000;
    border: 4px solid #eb1298;
    padding: 25px;
    border-radius: 25px;
    margin-top: 20px;
    font-size: 25px;
    font-family: cursive;

    opacity: 0;

    transform: scale(0);

    transition: transform 1s ease;
}

.show {
    display: block;
    transform: scale(1);
    opacity: 1;
}

.g {
    margin-left: 8px;
    color: red;
}

.a {
    color: aqua;
}

.y {
    color: greenyellow;
}

.expl {
    animation-name: colorShift;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    font-size: 32px;
    font-weight: 900;
    margin-left: 4px;
}

@keyframes colorShift {
    from {
        color: rgb(0, 170, 212);
    }

    to {
        color: rgb(255, 0, 200);
    }
}