.input-and-label {
    display: flex;
    padding: 15px;
    font-size: 25px;
    font-family: cursive;
}

.label {
    margin-right: 12px;
    color: #000;
    min-width: 70px;
    text-align: left;
}

.input {
    margin-right: 12px;
    border-radius: 10px;
    font-size: 25px;
    font-family: cursive;
    border: #fafafa;
    padding: 4px 8px;
    border: 2px dashed black;
}